<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saibaba.hackathon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Forms.ComplaintForm"></activity>
        <activity android:name=".Forms.PersonalDetails" />
        <activity android:name=".Forms.ArticleLost" />
        <activity android:name=".Forms.MissingPerson" />
        <activity android:name=".Forms.VehicleLost" />
        <activity android:name=".Forms.TenantVerification" />
        <activity android:name=".Forms.EmployeeVerification">
        </activity>
        <activity android:name=".Forms.CharacterCertificate" />
        <activity android:name=".Forms.FilmShooting" />
        <activity android:name=".Forms.EventPerformance" />
        <activity android:name=".Forms.ProtestRequest" />
        <activity android:name=".Forms.ProcessionRequest" />
        <activity android:name=".Forms.ViewFIR">
        </activity>
        <activity android:name=".Forms.RegisterFIR">
        </activity>
        <activity android:name=".chatbot.chat"></activity>
        <activity android:name=".HomeDesc" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".SignUp.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp.Login"
            android:screenOrientation="portrait" />
    </application>

</manifest>