<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saibaba.hackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature    android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Signature"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Forms.ComplaintForm"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forms.PersonalDetails"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chatbot.chat"
            android:screenOrientation="portrait" />
        <activity android:name=".Forms.ArticleFound" />
        <activity
            android:name=".Forms.ArticleLost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.MissingPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.VehicleLost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.TenantVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.EmployeeVerification"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Forms.CharacterCertificate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.FilmShooting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.EventPerformance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.ProtestRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.ProcessionRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.ViewFIR"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Forms.RegisterFIR"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HomeDesc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SignUp.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp.Registration"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SignUp.Login"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <receiver android:name=".MyBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>